html,body {
    height:100%;
    background-color:#75a6e7;
}

@font-face  {
    font-family:'28days';
    src: url('../fonts/28days.ttf') format('truetype');
}

h1{
    font-family: '28days';
    color: #a3cd39;
}

.h1 {
    font-family: '28days'; 
    color: #a3cd39;
}

.lead {
    color:black;
}

#header-text{
    font-size: 4.7vw;
}

/* Custom navbar */
.nav-custom{
    position:fixed;
    min-width:100%;
    z-index: 100;
    border:none;
    background-color:#a3cd39;
    font-size:1.3em;
}

.nav-item{
    cursor:pointer;

}

li a{
    color:white;
}

/* Custom container */
.container-full {
    margin: 0 auto;
    min-width: 100%;
    min-height:100%;
    color:#eee;
    overflow:hidden;
    //background: url("http://farm9.staticflickr.com/8521/8637654449_da55cff13d_b.jpg") no-repeat center fixed;
    background: url("../images/manhattan.jpg") no-repeat center fixed;
    //background-size:100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.uneven-row{
    background-color:#eef1f2;
    margin: 0 auto;

}

.even-row{
    background-color:white;
    margin: 0 auto;

}
#social{
    //background-color:#F3F3F3;
    color:black;
    width:100.0%;
    padding: 5% 0 5% 0;
}
.smedia-icon{
    width:100%;
    max-width:50px;
    max-height:50px;
}

#un-logo{
    width:100%;
    max-width:70px;
}

#njr-logo{
    width:100%;
    max-width:85px;
}

#jongduurzaam-logo{
    max-width:85px;
    max-height:85px;
}
@media(max-width: 480px) {
    .h1 {
        font-size: 14pt;
    }
}
#about{
    text-align: justify;
    padding: 10px auto;
    color:rgb(83,83,83);
}

#petitions{
    min-height:75%;
    width:100.0%;
}

#over-ons, #meer-informatie{
    padding: 5% 0 5% 0;

}
.container-full a {
    color:#efefef;
    text-decoration:none;
}

.v-center {
    margin-top:7%;
}
#contact{
    background-color:#2e3234;
    color:white;
    padding:3%;
    margin:0 auto;

}

.bubble {
    position: relative;
    background-color:white;
    margin: 0;
    padding:10px;
    text-align:center;
    width:180px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
    box-shadow: 0px 0 3px rgba(0,0,0,0.25); 
}
.bubble:after {
    position: absolute;
    display: block;
    content: "";  
    border-color: white transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height:0;
    width:0;
    position:absolute;
    bottom:-19px;
    left:1em;
}