<div class="row text-center uneven-row" id="petitions">
    <h1>Al {{amountOfPetitions.length}} mensen waren je voor</h1>

    <br />
    <div class="col-lg-3 col-md-4" data-ng-repeat="p in randomPetitions|limitTo:8">
        <br />
        <div class="bubble">
            <div class="text-center"><h4><b>{{p.name}}</b></h4></div>
            <div class="text-center v-center">
                {{p.text}}
            </div>
        </div>

        <br />
        <br />
        <br />
    </div>
</div>

