<div class="row uneven-row" id="meer-informatie">
    <div class="col-md-offset-3 col-md-6">
        <h1 class="text-center">Over de Klimaattop</h1>
        <div class="lead" id="about">
            <p>
                Op 23 september 2014 vindt in New York een belangrijke top voor wereldleiders plaats over klimaatverandering: <a href="http://www.un.org/climatechange/summit2014/">Climate Leaders Summit 2014.</a>
                VN Secretaris-Generaal Ban Ki-Moon heeft dit georganiseerd. 
                Eind 2015 moet er namelijk een nieuw VN-klimaatverdrag komen als opvolger van het Kyoto Protocol. 
            </p>
            <p>
                Echter lopen de onderhandelingen hierover nog erg stroef. 
                De top gaat momentum creëren om de grootste uitdagen van deze tijd aan te pakken en de onderhandelingen wel de goede richting op te sturen. 
                We hebben nu nog een kans om echt leiderschap te tonen als het gaat over het in toom houden van klimaatverandering. 
            </p>
            <p>
                Leiders vanuit allerlei verschillende hoeken (regeringen, bedrijfsleven, organisaties, jongeren) komen bijeen om het over gezamenlijke oplossingen en actie te hebben.
                Onder andere minister-president Rutte is door Ban Ki-Moon uitgenodigd, maar of hij namens ons gaat deelnemen is nog onzeker. 

            </p>
        </div>
    </div>
</div>