<nav class="navbar navbar-default nav-custom" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#navbar-collapse-1">
            <span class="sr-only">Navigatie aan/uit</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li ng-click="goToElement('nav-petition', 'signup-cover')" id="nav-petition"><a class="nav-item">Petitie</a></li>
            <li ng-click="goToElement('nav-about', 'social')" id="nav-about"><a class="nav-item">Over deze actie</a></li>
            <li ng-click="goToElement('nav-petitions', 'petitions')" id="nav-petitions"><a class="nav-item">Petitie overzicht</a></li>
            <li><a href="#">Wie zijn wij</a></li>
            <li><a href="#">Meer info</a></li>
            <li><a href="#">Nieuws</a></li>
        </ul>
    </div>
</nav>