<div class="row" id="social">
    <div class="col-md-4 col-md-offset-2 col-xs-12 text-center">
        <b class="h1">Klimaatverandering gaat over ons.</b>
        <br />
        <div class="lead" id="about">
            Nederland laat zijn stem niet horen op de klimaattop. In september wordt er op Manhattan een klimaattop georganiseerd. 
            Alle wereldleiders en ook afgevaardigden uit het bedrijfsleven en NGO's komen dan bijeen om de klimaatovereenkomst 2015 voor te bereiden.
            </p>
            <p>
                <b>Maar onze Mark Rutte ontbreekt op dat lijstje.</b>
            </p>
            <p>
                Wij willen dat Mark wel gaat. En jij kan daarbij helpen.
                Als jij aangeeft waarom Mark moet gaan, zorgen wij dat je bericht bij hem terecht komt. Echt waar.
                Zo laten wij onze stem in ieder geval wel horen. 
            </p>
            <p>Klimaatverandering: alleen door met z'n allen samen te werken kunnen we er iets aan doen. </p>
            <br />
            Bedankt!

        </div>
    </div>

    <div class="col-md-4 col-md-offset-1 text-center">
        <b class="h1">Wij zijn super sociaal</b><br />

        <a href="https://twitter.com/njrtweets"><img src="images/twitter.png" alt="twitter" class="v-center smedia-icon" /></a>
        <a href="https://nl-nl.facebook.com/JongenDuurzaamNJR"><img src="images/facebook.png" class="v-center smedia-icon" alt="facebook"/></a>
        <a href="http://www.jongduurzaam.nl"><img src="images/logo_njr.png" id="njr-logo" alt="njr-logo"/></a>
        <a href="http://www.un.org/climatechange/summit/"><img src="images/climate_summit.jpg" id="un-logo" alt="njr-logo"/></a>
    </div>
</div>
